<div class="left side-menu" ng-controller="SidebarController as vm">
    <div class="sidebar-inner slimscrollleft" style="padding-top: 6px;">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul>
                <li>
                    <a ui-sref="app.home"><i class="fa fa-globe"></i> <span> City</span></a>
                </li>
                <li>
                    <a class="waves-effect" ui-sref="app.cityweather"><i class="fa fa-cloud"></i> <span> City & Weather </span> </a>
                </li>
               
               
               
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <!-- Sidebar -left -->

</div> 