<div class="topbar" ng-controller="HeaderNavController as header">

    <!-- LOGO -->
    <div class="topbar-left">
        <a class="logo"><span><img src="app/img/weather_logo.png" height="55"></span><i><img src="app/img/weather_logo.png" height="55"></i></a>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">

            <!-- Navbar-left -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>
            <!-- Right(Notification) -->
        
        </div>
    </div>
</div>
