 <form role="form" class="mb-lg form-horizontal" name="athleteForm">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">×</button>
            <h4 id="myModalLabel" class="modal-title">{{'athlete.athlete' | translate}}</h4>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <label>{{'athlete.firstName' | translate}} <span class="text-danger">*</span></label>
                <input ng-model="athlete.firstName" placeholder="{{'athlete.firstName' | translate}}" ng-disabled="viewMode" autocomplete="off" class="form-control" name="firstName" validator="required" />
            </div>
            <div class="row form-group">
                <label>{{'athlete.lastName' | translate}}<span class="text-danger">*</span></label>
                <input ng-model="athlete.lastName" id="lastName" placeholder="{{'athlete.lastName' | translate}}" ng-disabled="viewMode" autocomplete="off" class="form-control" name="lastName" validator="required" />
            </div>

            <div class="row form-group">
                <label>{{'athlete.phone' | translate}}<span class="text-danger">*</span></label>
                <input ng-model="athlete.phoneNumber" placeholder="{{'athlete.phone' | translate}}" autocomplete="off" ng-disabled="viewMode" class="form-control" name="name" validator="required, phoneNumber" />
            </div>

            <div class="row form-group">
                <label>{{'athlete.email' | translate}}<span class="text-danger">*</span></label>
                <input ng-model="athlete.email" placeholder="{{'athlete.email' | translate}}" autocomplete="off" ng-disabled="viewMode" class="form-control" name="name" validator="required, email" />
            </div>

            <div class="row form-group">
                <label>{{'athlete.voucher' | translate}}<span class="text-danger">*</span></label>

                <div class="col-xs-12">
                    <ui-select multiple ng-model="athlete.aVouchers" validator="required" name="aVouchersId" theme="bootstrap" class="text-left">
                        <ui-select-match placeholder="{{'athlete.voucher' | translate}}">{{$item | localizeString}}</ui-select-match>
                        <ui-select-choices repeat="voucher in vouchers | filter : $select.search">
                            <span ng-bind-html="voucher | localizeString | highlight: $select.search"></span>
                        </ui-select-choices>

                    </ui-select>


                </div>
            </div>
            <div class="row form-group">
                <label>{{'athlete.photo' | translate}}</label>
                <uploading-files copyUrl="athlete.photo" copyUrlFullPath="athlete.photoFullPath" url="PhotoPath" isreadonly="viewMode" allowfiletype="['.png', '.jpg', '.jpeg']" maxsize="20971520"></uploading-files>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="ok()" ng-if="viewMode != true" validation-submit="athleteForm" class="btn btn-primary" data-translate="general.save"></button>
            <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
        </div>
    </form>
