

<form role="form" class="mb-lg form-horizontal" name="surveyForm">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
        <h4 id="myModalLabel" class="modal-title">{{'event.Surveyquestions' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <label>{{'event.questionEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">*</span></label>
            <input ng-model="eventSurvey.nameEn" placeholder="{{'event.questionEn' | translate}}" autocomplete="off" class="form-control" name="qstnEn" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'event.questionAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">*</span></label>
            <input ng-model="eventSurvey.nameAr" id="nameAr" ng-change="$root.setArabicInit()" placeholder="{{'event.questionAr' | translate}}" autocomplete="off" class="form-control" name="qstnAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'event.agenda' | translate}}</label>
            <ui-select ng-model="eventSurvey.agendaId" name="eventAgenda" theme="bootstrap" class="text-left">
                <ui-select-match placeholder="{{'event.agenda' | translate}}">{{$select.selected.titleEn}}</ui-select-match>
                <ui-select-choices repeat="agenda.id as agenda in agendas | filter: $select.search">
                    <span ng-bind-html="agenda.titleEn | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            <span class="label"></span>{{agenda.titleEn}}
        </div>
        <div class="row form-group" ng-if="isSpeaker">
            <div class="checkbox checkbox-custom">
                <input id="fromSpeaker" type="checkbox" name="fromSpeaker" ng-model="eventSurvey.fromSpeaker">
                <label for="fromSpeaker">
                    {{'event.fromSpeaker' | translate}}
                </label>
            </div>
        </div>
        <div class="row form-group" ng-if="isSpeaker">
            <label>{{'event.responseAlotTime' | translate}}<span class="text-danger">*</span></label>
            <input ng-model="eventSurvey.responseAlotTime" type="number" min="1" placeholder="{{'event.responseAlotTime' | translate}}" autocomplete="off" class="form-control" name="qstnAr" validator="required" />
        </div>
        <h3 data-translate="event.Surveyoptions"></h3>
        <div class="row form-group">
            <div class="col-md-4">
                <label>{{'event.optionEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">*</span></label>
                <input ng-model="surveyOption.nameEn" placeholder="{{'event.optionEn' | translate}}" autocomplete="off" class="form-control" name="optionEn" />
                <span ng-if="$root.englishPreferredLanguage && !surveyOption.nameEn && showRequiredError"><p style="color: #f34235; font-size:11px">{{'general.required' | translate}}</p></span>
            </div>
            <div class="col-md-4">
                <label>{{'event.optionAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">*</span></label>
                <input ng-model="surveyOption.nameAr" id="optionAr" ng-change="$root.setArabicInit()" placeholder="{{'event.optionAr' | translate}}" autocomplete="off" class="form-control" name="optionAr" />
                <span ng-if="$root.arabicPreferredLanguage && !surveyOption.nameAr && showRequiredError"><p style="color: #f34235; font-size:11px">{{'general.required' | translate}}</p></span>
            </div>
            <div class="col-md-4">
                <label>{{'session.orderNumber' | translate}}<span class="text-danger">*</span></label>
                <input type="number" min="1" ng-model="surveyOption.orderNumber" placeholder="{{'session.orderNumber' | translate}}" autocomplete="off" class="form-control" name="orderNumber" />
                <span ng-if="!surveyOption.orderNumber && showRequiredError"><p style="color: #f34235; font-size:11px">{{'general.required' | translate}}</p></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pull-right actions">
                <button type="submit" ripple="" class="mr mb-sm btn btn-primary pull-right" ng-click="addSurveyoptions(surveyForm)" ng-disabled="isBusy">
                    <span ng-if="surveyOption.id"> {{'general.save' | translate}}</span>
                    <span ng-if="!surveyOption.id"> {{'general.add' | translate}}</span>
                </button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="box-placeholder b0 bg-gray-lighter">
                    <datatable-directive ng-if="surveyOptionsDt.dtInstance != undefined" controller-scope="controllerScope" ng-model="eventSurvey.surveyOptions" dt-columns="surveyOptionsDt.dtColumns" dt-instance="surveyOptionsDt.dtInstance">
                    </datatable-directive>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="btn btn-primary" data-translate="general.save" validation-submit="surveyForm"></button>
        <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
    </div>
</form>
