<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
    <h4 id="myModalLabel" class="modal-title" data-translate="event.agenda"></h4>
</div>
<div class="modal-body">
    <form role="form" class="mb-lg form-horizontal" name="form">
        <div class="row form-group">
            <label>{{'agenda.titleEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger"> *</span> </label>
            <input type="text" class="form-control" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" name="titleEn" placeholder="{{'agenda.titleEn' | translate}}" autocomplete="off" ng-model="agenda.titleEn" />
        </div>
        <div class="row form-group">
            <label>{{'agenda.titleAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger"> *</span> </label>
            <input type="text" class="form-control" name="titleAr" id="titleAr" ng-change="$root.setArabicInit()" placeholder="{{'agenda.titleAr' | translate}}" autocomplete="off" ng-model="agenda.titleAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'agenda.descriptionEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger"> *</span></label>
            <textarea class="form-control" name="descriptionEn" placeholder="{{'agenda.descriptionEn' | translate}}" autocomplete="off" ng-model="agenda.descriptionEn" ng-required="true" ckeditor></textarea>
            <span ng-if="$root.englishPreferredLanguage && !agenda.descriptionEn && form.descriptionEn.$invalid"><p style="color: #f34235; font-size:11px">{{'general.required' | translate}}</p></span>
        </div>
        <div class="row form-group">
            <label>{{'agenda.descriptionAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger"> *</span></label>
            <textarea class="form-control" name="descriptionAr" id="descriptionAr" ng-change="$root.setArabicInit()" placeholder="{{'agenda.descriptionAr' | translate}}" autocomplete="off" ng-model="agenda.descriptionAr" ng-required="true" ckeditor-ar></textarea>
            <span ng-if="$root.arabicPreferredLanguage && !agenda.descriptionAr && form.descriptionAr.$invalid"><p style="color: #f34235; font-size:11px">{{'general.required' | translate}}</p></span>
        </div>
        <div class="row form-group" ng-if="persons.length>0">
            <label>{{'agenda.speaker' | translate}}  </label>
            <ui-select ng-model="agenda.speakerId" name="person" theme="bootstrap" class="text-left">
                <ui-select-match placeholder="{{'agenda.speaker' | translate}}">{{$select.selected.person | localizeString}}</ui-select-match>
                <ui-select-choices repeat="per.person.id as per in persons | filter : $select.search">
                    <span ng-bind-html="per.person | localizeString | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="row form-group" ng-if="agendaSessions.length>0">
            <label>{{'event.session' | translate}}  </label>
            <ui-select ng-model="agenda.sessionId" name="person" theme="bootstrap" class="text-left">
                <ui-select-match placeholder="{{'event.session' | translate}}">
                    <span ng-bind-html="$select.selected | localizeString"></span>
                </ui-select-match>
                <ui-select-choices repeat="agendaSession.id as agendaSession in agendaSessions | filter : $select.search">
                    <span ng-bind-html="agendaSession | localizeString | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="row form-group" ng-if="participantsRegistrationTypeId != 1">
            <label>{{'event.participantsLimit' | translate}}  <span class="text-danger"> *</span></label>
            <input type="number" min="1" oninput="validity.valid||(value='');" class="form-control" id="participantLimit" name="participantLimit" placeholder="{{'event.participantsLimit' | translate}}"
                   ng-model="agenda.participantsLimit" autocomplete="off" />
            <div class="text-danger" ng-show="showLimitMsg"><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="ng-scope">{{'general.required' | translate }}</span></div>
        </div>
        <div class="row form-group">
            <label>{{'event.date' | translate}} <span class="text-danger"> *</span> </label>
            <p class="input-group">
                <input type="text" uib-datepicker-popup="{{format}}" placeholder="{{'event.startDate' | translate}}" ng-model="agenda.startDate" is-open="startDate.opened" uib-datepicker-options="dateOptions" show-weeks="false" close-text="Close" class="form-control" validator="required" name="startDate" min-date="agendaStartDate" max-date="agendaEndDate" show-button-bar="true" readonly/>
                <span class="input-group-btn">
                    <button type="button" ng-click="openStartDatePopup($event)" class="btn btn-primary">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>

        <!--<div class="row form-group">
            <label>{{'event.endDate' | translate}} <span class="text-danger"> *</span> </label>
            <p class="input-group">
                <input type="text" uib-datepicker-popup="{{format}}" placeholder="{{'event.endDate' | translate}}" ng-model="agenda.endDate" is-open="endDate.opened" uib-datepicker-options="dateOptions" show-weeks="false" close-text="Close" class="form-control" validator="required" name="endDate" min-date="agenda.startDate" max-date="agendaEndDate" show-button-bar="false" readonly/>
                <span class="input-group-btn">
                    <button type="button" ng-click="openEndDatePopup($event)" class="btn btn-primary">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>-->
        <!--<div class="row form-group">
            <label>{{'agenda.date' | translate}} <span class="text-danger"> *</span> </label>
            <p class="input-group">
                <input type="text" uib-datepicker-popup="{{format}}" ng-disabled="true" ng-model="agenda.date" is-open="startDate.opened" uib-datepicker-options="dateOptions" show-weeks="false" close-text="Close"
                       class="form-control" name="startDate" validator="required" min-date="agendaStartDate" max-date="agendaEndDate" show-button-bar="true" />
                <span class="input-group-btn">
                    <button type="button" ng-click="openStartDatePopup($agenda)" class="btn btn-default">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>-->
        <div class="row form-group">
            <label>{{'agenda.fromTime' | translate}} <span class="text-danger"> *</span> </label>
            <input ng-model="agenda.fromTime" ng-change="initTimeTo()" class="form-control" id="timeFrom" value="" data-default="03:00" name="fromTime" validator="required" placeholder="{{'agenda.fromTime' | translate}}">
        </div>

        <div class="row form-group">
            <label>{{'agenda.toTime' | translate}} <span class="text-danger"> *</span> </label>
            <input ng-model="agenda.toTime" ng-change="checkTime()" class="form-control" id="timeTo" value="" data-default="03:00" name="toTime" validator="required" placeholder="{{'agenda.toTime' | translate}}">
        </div>
        <div class="row form-group">
            <label>{{'address.location' | translate}}   </label>
            <input type="text" class="form-control" name="location" placeholder="{{'address.location' | translate}}" autocomplete="off" ng-model="agenda.location">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary" validation-submit="form" data-translate="general.save"></button>
    <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
</div>
