<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
    <h4 id="myModalLabel" class="modal-title">{{'company.addCompany'| translate}}</h4>
</div>
<div class="modal-body">
    <form role="form" class="mb-lg form-horizontal" name="companyForm">
        <div class="row form-group">
            <label>{{'event.nameEn' | translate}}<span ng-if="$root.englishPreferredLanguage" class="text-danger">* </span></label>
            <input ng-model="eventCompany.company.nameEn" placeholder="{{'event.nameEn' | translate}}" autocomplete="off" class="form-control" name="nameEn" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'event.nameAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">* </span></label>
            <input ng-model="eventCompany.company.nameAr" id="nameAr" ng-change="$root.setArabicInit()" placeholder="{{'event.nameAr' | translate}}" autocomplete="off" class="form-control" name="nameAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}"/>
        </div>
        <div class="row form-group">
            <div class="col-md-5">
                <label>{{'company.photo' | translate}}</label>
                <uploading-files copyUrl="eventCompany.company.photo" copyUrlFullPath="eventCompany.company.photoFullPath" url="PhotoPath" allowfiletype="['.png', '.jpg', '.jpeg']" maxsize="20971520"></uploading-files>
            </div>
        </div> 
        <div ng-if="companyTypeId == 1" class="row form-group">
            <label><span>{{'event.sponserPackage' | translate}}</span> </label>
            <ui-select ng-model="eventCompany.packageId"   name="packageId" theme="bootstrap" class="text-left">
                <ui-select-match placeholder="{{'event.selectSponserPackage' | translate}}">{{$select.selected.sponserType| localizeString}}</ui-select-match>
                <ui-select-choices repeat="package.id as package in sponserPackages | filter: $select.search">
                    <span ng-bind-html="package.name | highlight: $select.search"></span> -
                    <span ng-bind-html="package.sponserType | localizeString | highlight: $select.search"></span> -
                    <span ng-bind-html="package.cost | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="row form-group">
            <label>{{'event.phone' | translate}}<span class="text-danger">* </span></label>
            <input ng-model="eventCompany.company.phone" placeholder="{{'event.phone' | translate}}" autocomplete="off" class="form-control" name="name" validator="required, phoneNumber" />
        </div>

        <div class="row form-group">
            <label>{{'event.email' | translate}}<span class="text-danger">* </span></label>
            <input ng-model="eventCompany.company.email" placeholder="{{'event.email' | translate}}" autocomplete="off" class="form-control" name="name" validator="required, email" />
        </div>

        <div ng-if="companyTypeId == 2" class="row form-group">
            <label>{{'event.standNumber' | translate}}</label>
            <input ng-model="eventCompany.standNumber" placeholder="{{'event.standNumber' | translate}}" autocomplete="off" class="form-control" name="name"  />
        </div>

        <div ng-if="companyTypeId == 2" class="row form-group">
            <label>{{'event.standLocation' | translate}}</label>
            <input ng-model="eventCompany.standLocation" placeholder="{{'event.standLocation' | translate}}" autocomplete="off" class="form-control" name="name" />
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <profile-address ng-model="eventCompany.company.address"></profile-address>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary" data-translate="general.save" validation-submit="companyForm"></button>
    <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
</div>
