<div ng-controller="CitiesController as vm">
    <div class="page-title-box">
        <h4 class="page-title"><i class="ion-briefcase"></i>  City</h4>

        <ol class="breadcrumb p-0 m-0">
            <li>
                <button type="button" class="btn btn-primary btn-bordered waves-effect waves-light" style="margin:0 10px" ng-click="vm.addcity('lg',1)">
                    <i class="fa fa-plus"></i> Add City
                </button>
            </li>
        </ol>
       
        <div class="col-md-12">
            <input type="text" class="form-control" name="fname" ng-model="vm.userSearch" placeholder="Search City">

            <button type="button" class="btn btn-primary btn-bordered waves-effect waves-light" style="margin:6px 10px" ng-click="vm.searchCity()">
                Search
            </button>
            <button type="button" class="btn btn-primary btn-bordered waves-effect waves-light" style="margin:6px 10px" ng-click="vm.getAll()">
                Show All
            </button>
        </div>
        
        <div class="clearfix"></div>
    </div>
    <div class="row autoadjust">
        <div class="col-md-3" ng-repeat="city in vm.cities">
            <div class="text-center card-box" ng-style="{ 'background-color' : athlete.isActive == false ? '#d3bdbd !important;' : '' }">
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="edit('sm',city)">{{'general.edit' | translate}}</a></li>
                        <li><a ng-click="vm.deleteCity(city.id)">{{'general.delete' | translate}}</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="member-card">
                    <h4 class="m-b-5">{{city.cityName}}</h4>
                    <p class="text-muted">Tourist Rating : {{city.touristRating}}</p>
                    <p class="text-muted">Population :  {{city.population}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.pager.totalRecords == 0">
            <uib-alert type="info"><i class="fa fa-info-circle"></i> {{'general.noDataFound' | translate}}</uib-alert>
        </div>
        <div class="row col-md-12" ng-if="vm.pager.totalRecords > 0">
            <ul class="pager custompager">
                <li>
                    <button ng-click="vm.setPage(1)" ng-disabled="vm.pager.currentPage === 1" class="btn btn-margin btn-applegreen">{{'Pager.first' | translate}}</button>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.currentPage - 1)" ng-disabled="vm.pager.currentPage === 1" class="btn btn-margin btn-applegreen"><i ng-class="{'fa fa-arrow-right':app.layout.isRTL,'fa fa-arrow-left':!app.layout.isRTL}"></i> {{'Pager.previous' | translate}}</button>
                </li>
                <li>
                    <span class="text-center text-sm text-bold"> {{vm.pager.currentPage}} / {{vm.pager.totalPages}} {{'Pager.pages' | translate}}</span>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.currentPage + 1)" ng-disabled="vm.pager.toRecord === vm.pager.totalRecords" class="btn btn-margin btn-applegreen">{{'Pager.next' | translate}} <i ng-class="{'fa fa-arrow-left':app.layout.isRTL,'fa fa-arrow-right':!app.layout.isRTL}"></i></button>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.totalPages)" ng-disabled="vm.pager.toRecord === vm.pager.totalRecords" class="btn btn-margin btn-applegreen">{{'Pager.last' | translate}}</button>
                </li>
            </ul>
        </div>

    </div>
</div>