<div ng-controller="eventUserController as vm">
    <div class="page-title-box ng-scope">
        <h4 class="page-title ng-binding"><i class="mdi mdi-account-check"></i>{{'sidebar.nav.attendees'| translate}}  </h4>
        <div class="clearfix"></div>
    </div>
    <div ng-if="vm.events.length == 0">
        <uib-alert type="info"><i class="fa fa-info-circle"></i>{{'general.noDataFound'| translate}} </uib-alert>
    </div>
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'general.filterBy'| translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <label class="col-sm-3 control-label"><span> {{'eventReg.events' | translate}}</span></label>
                <div class="col-sm-9">
                    <ui-select ng-model="vm.filterParams.EventId" ng-change="getUsers()" name="eventType" theme="bootstrap" class="text-left">
                        <ui-select-match placeholder="{{'event.event' | translate}}" allow-clear="true"><span ng-bind-html='$select.selected | localizeString'></span></ui-select-match>

                        <ui-select-choices repeat="event.id as event in vm.events | filter: $select.search">
                            <span ng-bind-html="event | localizeString | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                <a class="col-md-4 mr mb-sm btn btn-primary" ng-href="{{vm.downloadTemplateURL}}">
                    <i class="fa fa-download"></i>      {{'general.download'|translate}}
                </a>
                <div class="col-md-4">
                    <input style="display:none" ng-show="false" type="file" id="file" ng-click="reset();event.preventDefault()" ng-model="csvFile" accept=".csv,application/vnd.ms-excel,.xlt,application/vnd.ms-excel,.xla,application/vnd.ms-excel,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.xltx,application/vnd.openxmlformats-officedocument.spreadsheetml.template"
                           onchange="angular.element(this).scope().ExcelExport(event)" />
                    <button type="button" class="mr mb-sm btn btn-primary"
                            onclick="document.getElementById('file').click();">
                        <i class="fa fa-upload"></i> {{'general.UploadFile'|translate}}
                    </button>
                </div>

                <button type="button" class="mr mb-sm btn btn-primary" ng-click="vm.exportAttendeesList()">
                    <i class="fa fa-file-excel-o"></i> {{'event.exportAttendees'|translate}}
                </button>
            </div>

        </div>
    </div>
    <div class="animated fadeInDown">
        <!--<datatable-directive ng-if="vm.eventUsersDt.dtInstance != undefined"
                             controller-scope="controllerScope" ng-model="vm.eventusers"
                             dt-columns="vm.eventUsersDt.dtColumns" dt-instance="vm.eventUsersDt.dtInstance">
        </datatable-directive>-->
        <div class="box-placeholder b0 bg-gray-lighter col-md-12" style="margin-bottom: 15px;">
            <table datatable="" class="row-border hover" dt-options="vm.eventUsersDt.dtOptions" dt-columns="vm.eventUsersDt.dtColumns" style="width:100% !important" dt-instance="vm.eventUsersDt.dtInstance" ng-required="!vm.eventusers.length"></table>
        </div>
    </div>
</div> 