<div ng-controller="VisitorAttendanceController as vm">
    <div class="page-title-box ng-scope">
        <h4 class="page-title ng-binding"><i class="mdi mdi-account-check"></i>{{'sidebar.nav.visitorAttendance'| translate}}  </h4>
        <div class="clearfix"></div>
    </div>
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'register.visitorDetails'| translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <textarea rows="3" class="form-control" id="qrData" ng-model="vm.qrData" ng-model-options="{ allowInvalid: true, debounce: 100 }" ng-change="vm.validateVisitorData()" placeholder="{{'register.visitorScannedData'| translate}}" style="border: 1px solid #ddd;padding: 10px;border-radius: 8px !important;" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-cut="$event.preventDefault()"></textarea>
            </div>
            <br />
            <uib-alert type="success" close="vm.attendanceMarked = false" ng-if="vm.attendanceMarked" dismiss-on-timeout="2000">{{'register.visitorScannedData'| translate}}</uib-alert>
            <uib-alert type="danger" close="vm.qrNotValidSlot = false" ng-if="vm.qrNotValidSlot && !vm.invalidQR" dismiss-on-timeout="2000">{{'register.qrNotValidSlot'| translate}}</uib-alert>
            <uib-alert type="danger" close="vm.invalidQR = false" ng-if="vm.invalidQR" dismiss-on-timeout="2000">{{'register.invalidQR'| translate}}</uib-alert>
            <uib-alert type="danger" close="vm.vistorNotFound = false" ng-if="vm.vistorNotFound && !vm.invalidQR" dismiss-on-timeout="2000">{{'register.visitorNotFound'| translate}}</uib-alert>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table tblVD">
                            <tbody>
                                <tr>
                                    <th width="200px">{{'users.firstName'| translate}}</th>
                                    <td>{{vm.userData.fName}}</td>
                                </tr>
                                <tr>
                                    <th>{{'users.email'| translate}}</th>
                                    <td>{{vm.userData.email}}</td>
                                </tr>
                                <tr>
                                    <th>{{'users.phoneNumber'| translate}}</th>
                                    <td>{{vm.userData.phone}}</td>
                                </tr>
                                <tr>
                                    <th>{{'register.noOfPeople'| translate}}</th>
                                    <td>{{vm.eventAttendee.visitorCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="col-md-3">{{'register.currentSlot'| translate}}</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table tblVD">
                            <tbody>
                                <tr>
                                    <th width="200px">{{'register.slot'| translate}}</th>
                                    <td class="text-right" style="direction:ltr">{{vm.agenda | localizeStringWithProperty: 'title'}} ({{vm.agenda.fromTime}} - {{vm.agenda.toTime}})</td>
                                </tr>
                                <tr>
                                    <th>{{'event.participantsLimit'| translate}}</th>
                                    <td>{{vm.agenda.participantsLimit | number}}</td>
                                </tr>
                                <tr>
                                    <th>{{'register.reservationCount'| translate}}</th>
                                    <td>{{vm.agenda.reservationCount | number}}</td>
                                </tr>
                                <tr>
                                    <th>{{'register.attendanceCount'| translate}}</th>
                                    <td ng-if="vm.agenda.attendanceCount != undefined && vm.eventAttendee.agendum.attendanceCount == undefined">{{vm.agenda.attendanceCount | number}}</td>
                                    <td ng-if="vm.eventAttendee.agendum.attendanceCount != undefined">{{vm.agenda.attendanceCount | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 