<div ng-controller="usersController as vm">
    <div class="page-title-box">
        <h4 class="page-title"><i class="mdi mdi-account-multiple"></i> {{'users.users' | translate}}</h4>
        <ol class="breadcrumb p-0 m-0">
            <li>
                <a ui-sref="page.register" class="btn btn-primary btn-bordered waves-effect waves-light" style="margin:0 10px">
                    {{'users.addUser' | translate}}
                </a>
            </li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'general.filterBy' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <label class="col-sm-3 control-label"><span>{{'general.filterBy'  | translate}} {{'register.role'  | translate}}</span></label>
                <div class="col-sm-9">
                    <ui-select ng-model="vm.filterParams.roles" ng-change="vm.usersDt.dtInstance.rerender()" validator="required"  name="roles" theme="bootstrap" class="text-left" multiple>
                        <ui-select-match placeholder="{{'general.select'  | translate}} {{'register.role'  | translate}}"><span ng-bind-html='$item | localizeString'></span></ui-select-match>
                        <ui-select-choices repeat="role  in  vm.roles | filter: $select.search">
                            <span ng-bind-html="role | localizeString | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select> 
                </div>
            </div> 
        </div>
    </div>
    <div class="card-box">
        <table datatable="" class="table  table-striped table-colored-bordered table-bordered-info" dt-options="vm.usersDt.dtOptions" dt-columns="vm.usersDt.dtColumns" width="100%"
               dt-instance="vm.usersDt.dtInstance" ng-required="!vm.users.length"></table>
    </div>
</div>  