<div class="app-view-header" ng-controller="SurveyController as vm">
    <div class="page-title-box">
        <h4 class="page-title"><i class="glyphicon glyphicon-list-alt"></i> {{'event.survey' | translate}}</h4>
        <div class="clearfix"></div>
    </div>
    <!-- START panel-->
    <div class="col-md-12" ng-if="vm.survey.length == 0">
        <uib-alert type="info"><i class="fa fa-info-circle"></i> {{'general.noDataFound' | translate}}</uib-alert>
    </div>
    <div class="panel panel-color panel-info" ng-repeat="surveyItem in vm.survey | unique : 'event'">
        <div class="panel-heading">
            <span class="panel-title"> {{surveyItem.event | localizeString}} ({{surveyItem.event.startDate | date : 'dd-MMM-yyyy'}} - {{surveyItem.event.endDate | date : 'dd-MMM-yyyy'}})</span>
           
        </div>
        <div class="panel-body">
            <form role="form" class="mb-lg form-horizontal" name="Form">
                <div ng-repeat="surveyQ in vm.survey | filter : {eventId: surveyItem.event.id}">
                    <div class="row form-group">
                        <strong class="col-md-9">{{$index + 1}}. {{surveyQ | localizeString}}</strong>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-9">
                            <div class="radio radio-info radio-inline" ng-repeat="Option in surveyQ.surveyOptions | orderBy : 'orderNumber'">
                                <input type="radio" name="{{surveyQ.id}}" id="radio{{Option.id}}" value="{{Option.id}}" ng-model="Option.selectedId" ng-change='vm.submitOption(Option.id)' checked="">
                                <label for="radio15">
                                    {{Option | localizeString}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </form>
        </div>
    </div>
</div> 