<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">X</button>
    <h4 id="myModalLabel" class="modal-title">{{'subscription.selectOurScriptionPlan' | translate}}</h4>
</div>
<div class="modal-body">

    <div class="frame">
        <!-- Cards -->
        <div class="card card-1" ng-class="{'active': (eventPackageId== 1)}" ng-click="eventPackageId = 1">
            <div class="card-top">{{'subscription.starter' | translate}}</div>
            <div class="card-info">
                <div class="card-cost">
                    <div class="card-value">{{'subscription.createAndViewEvent' | translate}}</div>
                    <div class="card-value">{{'subscription.registrationModule' | translate}}</div>
                    <div class="card-value">5000 {{'package.aed' | translate}}</div>
                </div>

            </div>
        </div>
        <div class="card card-2" ng-class="{'active': (eventPackageId== 2)}" ng-click="eventPackageId = 2">
            <div class="card-top">{{'subscription.starterPlus' | translate}}</div>
            <div class="card-info">
                <div class="card-cost">
                    <div class="card-value">{{'subscription.createAndViewEvent' | translate}}</div>
                    <div class="card-value">{{'subscription.registrationModule' | translate}}</div>
                    <div class="card-value">{{'subscription.sponsorsPackagesRegistration' | translate}}</div>
                    <div class="card-value">{{'subscription.checkIn' | translate}}</div>
                    <div class="card-value">10000 {{'package.aed' | translate}}</div>
                </div>

            </div>
        </div>
        <div class="card card-3" ng-class="{'active': (eventPackageId== 3)}" ng-click="eventPackageId = 3">
            <div class="card-top">{{'subscription.business' | translate}}</div>
            <div class="card-info">
                <div class="card-cost">
                    <div class="card-value">{{'subscription.createAndViewEvent' | translate}}</div>
                    <div class="card-value">{{'subscription.registrationModule' | translate}}</div>
                    <div class="card-value">{{'subscription.sponsorsPackagesRegistration' | translate}}</div>
                    <div class="card-value">{{'subscription.checkIn' | translate}}</div>
                    <div class="card-value">{{'subscription.eventWebpage' | translate}}</div>
                    <div class="card-value">{{'subscription.mobileApplication' | translate}}</div>
                    <div class="card-value">{{'subscription.badgePrinting' | translate}}</div>
                    <div class="card-value">25000 {{'package.aed' | translate}}</div>
                </div>

            </div>
        </div>

        <div class="card card-3" ng-class="{'active': (eventPackageId== 4)}" ng-click="eventPackageId = 4">
            <div class="card-top">{{'subscription.businessPro' | translate}}</div>
            <div class="card-info">
                <div class="card-cost">
                    <div class="card-value">{{'subscription.createAndViewEvent' | translate}}</div>
                    <div class="card-value">{{'subscription.registrationModule' | translate}}</div>
                    <div class="card-value">{{'subscription.sponsorsPackagesRegistration' | translate}}</div>
                    <div class="card-value">{{'subscription.checkIn' | translate}}</div>
                    <div class="card-value">{{'subscription.eventWebpage' | translate}}</div>
                    <div class="card-value">{{'subscription.mobileApplication' | translate}}</div>
                    <div class="card-value">{{'subscription.badgePrinting' | translate}}</div>
                    <div class="card-value">{{'subscription.domain' | translate}}</div>
                    <div class="card-value">{{'subscription.speakerRegistrationModule' | translate}}</div>
                    <div class="card-value">75000 {{'package.aed' | translate}}</div>
                </div>

            </div>
        </div>

        <div class="card card-3" ng-class="{'active': (eventPackageId== 5)}" ng-click="eventPackageId = 5">
            <div class="card-top">{{'subscription.Flexible' | translate}}</div>
            <div class="card-info">
                <div class="card-cost">
                    <div class="card-value">{{'subscription.createAndViewEvent' | translate}}</div>
                    <div class="card-value">{{'subscription.registrationModule' | translate}}</div> 
                    <div class="card-value">{{'subscription.checkIn' | translate}}</div> 
                    <div class="card-value">1000 {{'package.aed' | translate}}</div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary" data-translate="general.save"></button>
    <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
</div>
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
    .stat-min,.stat-max {
    font-size: 14px;
    font-weight: bold;
}
    .frame {
        height: 600px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #f8f8f8;
        color: #333;
        font-family: "Open Sans", Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: grid;
        grid-gap: 1px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .card {
        background: white;
        height: 99%;
        width: 93%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.4);
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

        .card:first-child {
            margin-left: 1rem;
        }

        .card:nth-child(3) {
            margin-right: 1rem;
        }

        .card > * {
            transition: all 0.3s ease-in-out;
        }

        .card:hover ,  .card.active {
            -webkit-transform: scale(1.04);
            transform: scale(1.04);
        }

            .card:hover .card-top,  .card.active  .card-top{
                background: #00acc1;
            }

            .card:hover .card-value,  .card.active  .card-value {
                color: #00acc1;
            }
             

    .card-1:hover ~ .bars > .stat > .bar-1 > span,.card.active.card-1~ .bars > .stat > .bar-1 > span {
        width: 10%;
    }

    .card-1:hover ~ .bars > .stat > .bar-2 > span,.card.active.card-1~ .bars > .stat > .bar-2 > span {
        width: 10%;
    }
     

    .card-2:hover ~ .bars > .stat > .bar-1 > span,.card.active.card-2~ .bars > .stat > .bar-1 > span {
        width: 30%;
    }

    .card-2:hover ~ .bars > .stat > .bar-2 > span,.card.active.card-2~ .bars > .stat > .bar-2 > span {
        width: 50%;
    }
     

    .card-3:hover ~ .bars > .stat > .bar-1 > span,.card.active.card-3 ~ .bars > .stat > .bar-1 > span {
        width: 100%;
    }

    .card-3:hover ~ .bars > .stat > .bar-2 > span,.card.active.card-3 ~ .bars > .stat > .bar-2 > span {
        width: 100%;
    }

    .card-top {
        height: 25%;
        width: 100%;
        background: #3ac9d6;
        color: white;
        font-weight: 600;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-info {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .card-info > * {
            text-align: center;
        }

    .card-cost {
        margin-bottom: 1rem;
    }

    .card-value {
        font-weight: 700;
        font-size: 1.4rem;
    }

    .card-month {
        font-size: 0.8rem;
    }

    .card-lines {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-line {
        margin-bottom: 3px;
        height: 4px;
        background: #e0e0e0;
    }

    .bars {
        height: 85%;
        width: 95%;
        background: white;
        padding:20px;
        box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.2);
        grid-column: 1 / -1;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .stat {
        padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    }

    .stat-info {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: space-between;
    }

    .stat-bar {
        height: 12px;
        width: 100%;
        background: #e0e0e0;
        border-radius: 0.5rem;
    }

        .stat-bar > span {
            display: block;
            height: 100%;
            width: 0;
            background: #3ac9d6;
            border-radius: 0.5rem;
            transition: all 0.3s;
        }
</style>