<section>
    <div class="container-alt" ng-controller="RegisterController as vm" style="position: relative;top: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <div class="m-t-40 account-pages MBR">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <span class="text-success m-0">
                                    <span><img src="app/img/DDF_logo.png" alt="" height="65"></span>
                                </span>
                            </h2>
                        </div>

                        <div class="row" ng-if="vm.event.id">
                            <div class="col-md-12">
                                <h4>{{vm.event | localizeString}}</h4>
                                <h5 ng-bind-html="vm.event | localizeStringWithProperty : 'description'"></h5>
                            </div>
                        </div>
                        <div class="account-content evntRegForm boxShadowOA">
                            <!--<h4 class="text-center m-t-0 text-gray">{{'register.newAccount'| translate}}</h4>-->
                            <form class="form-horizontal" role="form" name="registerForm">

                                <!--<div class="form-group " ng-if="vm.event != null && vm.event.hasPayment">
                                    <div class="col-xs-12">
                                        <h4 style="color: #db0e0e;"><i class="fa fa-info-circle"></i> {{'register.notifyPaymentFees'| translate}}<span>{{vm.event.participantFees}}</span></h4>
                                    </div>
                                </div>-->
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'register.firstName' | translate}} <span class="text-danger"> * </span> </label>
                                            <input class="form-control" type="text" ng-model="vm.account.firstName" name="FirstName" placeholder="{{'register.firstName' | translate}}" validator="required">
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'register.lastName' | translate}} <span class="text-danger"> * </span> </label>
                                            <input class="form-control" type="text" ng-model="vm.account.lastName" name="LastName" placeholder="{{'register.lastName' | translate}}" validator="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'register.email' | translate}} <span class="text-danger"> * </span> </label>
                                            <input class="form-control" type="email" ng-model="vm.account.email" placeholder="{{'register.email' | translate}}" name="Email" validator="required, email">
                                            <div ng-if="vm.emailAlreadyTaken" style="color: #f34235; font-size:11px" data-translate="register.emailTaken">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'register.mobile' | translate}} <span class="text-danger"> * </span> </label>
                                            <input class="form-control" ng-model="vm.account.phoneNumber" name="Mobile" type="tel" placeholder="971xxxxxxxxx" validator="required, phoneNumberWithCountryCode" valid-callback="register.validMobileNumber()"
                                                   invalid-callback="register.invalidMobileNumber()" valid-method="blur" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.user.roleName==1 && vm.event == null">
                                    <div class="col-xs-12">
                                        <ui-select tagging ng-model="vm.role" on-select="onSelectedEvent($item)" name="roleid">
                                            <ui-select-match placeholder="{{'register.role' | translate}}">{{$select.selected | localizeString}}</ui-select-match>
                                            <ui-select-choices repeat="val in vm.roles | filter: $select.search">
                                                <div ng-bind="val | localizeString | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" ng-model="vm.account.password" name="Password" placeholder="{{'register.password' | translate}}" autocomplete="off" validator="required, password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" ng-model="vm.account.confirmPassword" name="PasswordRetype" placeholder="{{'register.passwordRetype' | translate}}" autocomplete="off" validator="required,password" value-matches="vm.account.password">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.event != null">
                                    <div class="col-xs-12">
                                        <ui-select tagging ng-model="vm.account.registrationTypeId" name="registrationTypeId">
                                            <ui-select-match placeholder="{{'register.registrationType' | translate}}">{{$select.selected | localizeString}}</ui-select-match>
                                            <ui-select-choices repeat="val.id as val in vm.registrationTypes | filter: $select.search">
                                                <div ng-bind="val | localizeString | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="vm.event != null && vm.event.participantsRegistrationTypeId == 2 && $state.current.name != 'page.registerAdmin'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{'register.individualRegistration' | translate}}</label>
                                            <label class="switch switch-md switch-primary">
                                                <input type="checkbox" name="isActive" ng-model="vm.account.isIndividual" ng-checked="vm.account.isIndividual == true">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>{{'event.eventSessionDate' | translate}} <span class="text-danger"></span> </label>
                                            <p class="input-group">
                                                <input type="text" ng-change="vm.changeSesstionDate()" uib-datepicker-popup="{{vm.format}}" ng-disabled="true" ng-model="vm.account.agendaDate" is-open="vm.agendaDate.opened" uib-datepicker-options="vm.dateOptions" show-weeks="false" close-text="Close"
                                                       class="form-control" name="agendaDate" validator="required" min-date="vm.event.startDate" max-date="vm.event.endDate" show-button-bar="false" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="vm.openAgendaDatePopup()" class="btn btn-default">
                                                        <em class="fa fa-calendar"></em>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-xs-12 " ng-if="!vm.account.isIndividual">
                                            <label>{{'register.noOfPeople' | translate}} <span class="text-danger"></span> </label>
                                            <input class="form-control" type="number" min="1" max="5" ng-model="vm.account.visitorCount" ng-init="vm.account.visitorCount= 1;" name="visitorCount" placeholder="{{'register.noOfPeople' | translate}}" autocomplete="off" validator="participantMaxCount,participantMinCount">
                                            <br />
                                            <!--<span style="" ng-if="registerForm.visitorCount.$invalid"><p class="validation-invalid ng-scope" style="color: #f34235; font-size:11px">{{'register.noOfReservationsError' | translate}}</p></span>-->
                                            <div class="alert alert-danger" ng-if="vm.showRequiredError && vm.event.participantsRegistrationTypeId == 2 && vm.selectedAgenda && vm.account.visitorCount" role="alert">{{'register.selectedNoOfVisitorsNotAvaialble' | translate}}</div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="form-group" ng-if="vm.checkData && vm.event != null && vm.event.participantsRegistrationTypeId == 2 && $state.current.name != 'page.registerAdmin'">
                                    <div class="col-md-12 col-xs-12 agendasList">
                                        <h3 class="col-md-12 text-left">{{vm.selectedSession.agenda[0].startDate | date: 'fullDate'}}</h3>
                                        <div class="col-md-3 col-xs-12" ng-repeat="agendaObj in vm.selectedSession.agenda | orderBy:'fromTime24Hr': false" ng-click="vm.selectAgenda(agendaObj)">
                                            <div class="agendaItem" ng-class="{'active':agendaObj.id ==  vm.account.agendaId, 'agendaFull': agendaObj.reservationCount >= agendaObj.participantsLimit}">
                                                <div class="col-md-12 days"><b>{{agendaObj | localizeStringWithProperty: 'title'}}</b> </div>
                                                <!--<div class="col-md-12 text-bold">{{'register.reservations' | translate}} ({{agendaObj.reservationCount}}/{{agendaObj.participantsLimit}})</div>-->
                                                <div class="col-md-12 text-left" style="direction: ltr;" ng-if="app.layout.isRTL === false"> {{agendaObj.fromTime}} - {{agendaObj.toTime}}</div>
                                                <div class="col-md-12 text-left" style="direction: ltr;" ng-if="app.layout.isRTL === true"> {{agendaObj.toTime}} -  {{agendaObj.fromTime}}</div>
                                                <div class="slotFull">{{'register.slotFull' | translate}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="alert alert-danger" ng-if="vm.showRequiredError && vm.event.participantsRegistrationTypeId == 2 && !vm.account.agendaId" role="alert">{{'register.selectSlotRequired' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group " ng-if="$state.current.name == 'page.registerAdmin' || vm.account.userRole == 'Admin'">
                                    <div class="col-xs-12">
                                        <ui-select ng-model="vm.account.eventPackage" validator="required" name="eventPackage" theme="bootstrap" class="text-left">
                                            <ui-select-match placeholder="{{'package.selectYourPackage' | translate}}">{{$select.selected  | localizeString}}   - {{$select.selected.price}} ({{'package.aed' | translate}}) </ui-select-match>
                                            <ui-select-choices repeat="eventPackage as eventPackage in vm.eventPackages | filter: $select.search">
                                                <div>{{eventPackage | localizeString}}   - {{eventPackage.price}} ({{'package.aed' | translate}})</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group " ng-if="$state.current.name == 'page.registerAdmin' || vm.account.userRole == 'Admin'">
                                    <div class="col-xs-12">
                                        <ui-select ng-model="vm.account.preferredLanguagesList" validator="required" name="preferredLanguages" theme="bootstrap" class="text-left" multiple>
                                            <ui-select-match placeholder="{{'register.selectPreferredLanguages' | translate}}">
                                                {{$item | localizeString}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="language in vm.languages | filter: $select.search">
                                                <div>{{language | localizeString}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <div ng-model="vm.account.response" vc-recaptcha data-key="'6Lemd7oUAAAAAM2C8gqA_QdZNU9mvJiARrvzxyBx'" lang="vm.recaptchaLang"
                                             on-create="vm.setWidgetId(widgetId)"></div>
                                    </div>
                                </div>
                                <div class="form-group account-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn w-md btn-danger btn-bordered waves-effect waves-light" type="submit" ng-click="vm.submit()" validation-submit="registerForm" ng-disabled="vm.isBusy">
                                            <span ng-if="vm.checkData!=1" data-translate="register.createAccount"></span>
                                            <span>{{'event.register' | translate}}</span>
                                        </button>
                                        <a ui-sref="app.users" ng-if="vm.user.roleName == 1" class="btn w-md btn-default btn-bordered waves-effect waves-light waves-light ng-binding" style="margin:0 10px" href="#/page/users">
                                            {{'general.back' | translate}}
                                        </a>
                                    </div>
                                </div>
                                <br />
                                <br />
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-lg" style="margin-top: 30px;">
                    <div class="row " ng-if="vm.user.roleName!=1">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">
                                {{'register.alreadyhaveAccount' | translate}}<a ui-sref="page.login" class="text-primary m-l-5">
                                    <b>
                                        {{'register.login' | translate}}
                                    </b>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row text-center" ng-if="$state.current.name != 'page.registerAdmin' && vm.user.roleName == null">
                        {{'register.adminAccountToManageEvent' | translate}}   <a ui-sref="page.registerAdmin" class="text-primary">
                            <b>   {{'register.clickHere' | translate}}</b>
                        </a>
                    </div>
                    <div class="row text-center" ng-if="$state.current.name == 'page.registerAdmin' && vm.user.roleName == null">
                        {{'register.normalAccount' | translate}}  <a ui-sref="page.register" class="text-primary">
                            <b>  {{'register.clickHere' | translate}}</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>