
<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
    <h4 id="myModalLabel" class="modal-title">{{'general.ask' | translate}}</h4>
</div>
<div >
    <form class="form-horizontal" role="form" name="QuestionForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="col-sm-3 control-label"><span>{{'eventReg.events' | translate}}</span> <span class="text-danger">*</span> </label>
                    <div class="col-sm-9">
                        <ui-select ng-model="addqstns.eventId" validator="required" on-select="onSelectedEvent($item)" name="eventType" theme="bootstrap" class="text-left">
                            <ui-select-match allow-clear="true" placeholder="{{'event.event' | translate}}"><span ng-bind-html='$select.selected | localizeString'></span></ui-select-match>
                            <ui-select-choices repeat="event.id as event in events | filter: $select.search">
                                <span ng-bind-html="event | localizeString | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select> 
                    </div>
                </div>
                <div class="col-md-12" ng-if="eventSpeaker.length > 0">
                    <label class="col-sm-3 control-label"><span>{{'event.speaker' | translate}}</span></label>
                    <div class="col-sm-9">
                        <ui-select ng-model="addqstns.speakerId" name="speakerType" theme="bootstrap" class="text-left">
                            <ui-select-match allow-clear="true" placeholder="{{'event.speaker' | translate}}"><span ng-bind-html='$select.selected.person | localizeString'></span></ui-select-match>
                            <ui-select-choices repeat="speaker.person.id as speaker in eventSpeaker | filter: $select.search">
                                <span ng-bind-html="speaker.person | localizeString | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="label"></span>{{speaker.person | localizeString}}
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-sm-3 control-label"><span>{{'event.questionEn' | translate}}</span><span ng-if="$root.englishPreferredLanguage" class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input id="input-id-1" ng-model="addqstns.questionEn" type="text" class="form-control ng-pristine ng-pending ng-touched" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" name="questionEn" style="">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-sm-3 control-label"><span>{{'event.questionAr' | translate}}</span><span ng-if="$root.arabicPreferredLanguage" class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input  ng-model="addqstns.questionAr" id="questionAr" ng-change="$root.setArabicInit()" type="text" class="form-control ng-pristine ng-pending ng-touched" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" name="questionAr" style="">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="savequestion()" class="btn btn-primary" data-translate="general.save" validation-submit="QuestionForm"></button>
            <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
        </div>
    </form>
</div>
