<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
    <h4 id="myModalLabel" class="modal-title">{{'person.addPerson'| translate}}</h4>
</div>
<div class="modal-body">
    <form role="form" class="mb-lg form-horizontal" name="speakerForm">
        <div class="row form-group">
            <label>{{'person.nameEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">* </span></label>
            <input class="form-control" name="nameEn" placeholder="{{'person.nameEn' | translate}}" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" autocomplete="off" ng-model="eventSpeaker.person.nameEn" />
        </div>
        <div class="row form-group">
            <label>{{'person.nameAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">* </span></label>
            <input class="form-control" name="nameAr" id="nameAr" ng-change="$root.setArabicInit()" placeholder="{{'person.nameAr' | translate}}" autocomplete="off" ng-model="eventSpeaker.person.nameAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'person.titleEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">* </span></label>
            <input class="form-control" name="titleEn" placeholder="{{'person.titleEn' | translate}}" autocomplete="off" ng-model="eventSpeaker.person.titleEn" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" />
        </div>
        <div class="row form-group">
            <label>{{'person.titleAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">* </span></label>
            <input class="form-control" name="titleAr" id="titleAr" ng-change="$root.setArabicInit()" placeholder="{{'person.titleAr' | translate}}" autocomplete="off" ng-model="eventSpeaker.person.titleAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
        </div>

        <div class="row form-group">
            <label>{{'person.descriptionEn' | translate}}</label>
            <textarea class="form-control" name="descriptionEn" placeholder="{{'person.descriptionEn' | translate}}" autocomplete="off" ng-model="eventSpeaker.person.descriptionEn" ckeditor></textarea>
        </div>
        <div class="row form-group">
            <label>{{'person.descriptionAr' | translate}}</label>
            <textarea class="form-control" name="descriptionAr" id="descriptionAr" ng-change="$root.setArabicInit()" placeholder="{{'person.descriptionAr' | translate}}" autocomplete="off" ng-model="eventSpeaker.person.descriptionAr" ckeditor-ar></textarea>
        </div>

        <div class="row form-group">
            <div class="col-md-5">
                <label>{{'person.photo' | translate}}</label>
                <uploading-files copyUrl="eventSpeaker.person.photo" copyUrlFullPath="eventSpeaker.person.photoFullPath" url="PhotoPath" allowfiletype="['.png', '.jpg', '.jpeg']" maxsize="20971520"></uploading-files>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-5">
                <label>{{'person.cv' | translate}}</label>
                <uploading-files copyUrl="eventSpeaker.person.resume" copyUrlFullPath="eventSpeaker.person.resumeFullPath" url="PhotoPath" allowfiletype="['.png', '.jpg', '.jpeg', '.pdf', '.doc', '.docx']" maxsize="20971520"></uploading-files>
            </div>
        </div>
        <div class="row form-group">
            <label>{{'person.phone' | translate}}<span class="text-danger">* </span></label>
            <input ng-model="eventSpeaker.person.phone" placeholder="{{'person.phone' | translate}}" validator="required, phoneNumber" autocomplete="off" class="form-control" name="phone" />
        </div>

        <div class="row form-group">
            <label>{{'person.email' | translate}}<span class="text-danger">* </span></label>
            <input ng-model="eventSpeaker.person.email" placeholder="{{'person.email' | translate}}" validator="required, email" autocomplete="off" class="form-control" name="email" />
        </div>
        <div class="row form-group">
            <div>
                <div class="checkbox checkbox-custom">
                    <input id="isResidentOfUAE" type="checkbox" ng-init="eventSpeaker.person.isResidentOfUAE = true" name="isResidentOfUAE" ng-model="eventSpeaker.person.isResidentOfUAE" placeholder="Emirates Id">
                    <label for="isResidentOfUAE">
                        {{'person.HaveValidVisa' | translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-show="eventSpeaker.person.isResidentOfUAE">
            <label><span>{{'person.EmiratesId' | translate}}</span></label>
            <input ng-model="eventSpeaker.person.emiratesId" type="text" placeholder="{{'person.EmiratesId' | translate}}" autocomplete="off" class="form-control" name="emiratesId" mask="999-9999-9999999-9" />
        </div>
        <div class="row form-group" ng-if="!eventSpeaker.person.isResidentOfUAE">
            <label>{{'person.PassportNumber' | translate}} </label>
            <input ng-model="eventSpeaker.person.passportNumber" placeholder="{{'person.PassportNumber' | translate}}" autocomplete="off" class="form-control" name="passportNumber" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary" data-translate="general.save" validation-submit="speakerForm"></button>
    <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body-->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides">
        <h3 class="title"></h3><a class="prev">&lsaquo;</a><a class="next">&rsaquo;</a><a class="close">&times;</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
