<form name="Form">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">x</button>
        <h4 class="modal-title">{{'register.changePassword' | translate}}</h4>
    </div>
    <div class="modal-body row">
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'register.name' | translate}}: </label>
            <div class="col-md-8 has-feedback">{{userDetails.firstName}}</div>
        </div>
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'register.role' | translate}}: </label>
            <div class="col-md-8 has-feedback">{{userDetails.roles[0].name}}</div>
        </div>
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'company.email' | translate}}: </label>
            <div class="col-md-8 has-feedback">{{userDetails.email}}</div>
        </div>
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'company.phone' | translate}}: </label>
            <div class="col-md-8 has-feedback">{{userDetails.phoneNumber}}</div>
        </div>
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'recover.newPassword' | translate}} </label>
            <div class=" col-md-8">
                <input type="password" name="newPassword" placeholder="{{'recover.newPassword' | translate}}" autocomplete="off"
                       class="form-control" ng-model="passwordObj.newPassword" validator="required, password" />
            </div>
            </div>
        <div class="col-md-12 m-b-5">
            <label class="col-md-4">{{'register.passwordRetype' | translate}} </label>
            <div class=" col-md-8">
                <input type="password" name="passwordRetype" placeholder="{{'register.passwordRetype' | translate}}" autocomplete="off"
                       class="form-control" ng-model="passwordObj.confirmPassword" validator="required, password" />
            </div>
        </div>
    </div>
    <div class="modal-footer mt">
        <button ng-click="cancel()" class="btn btn-danger">{{'general.cancel' | translate}}</button>
        <button ng-click="ok()" class="btn btn-primary" data-translate="general.ok" validation-submit="Form"></button>
    </div>
</form>