<form role="form" class="mb-lg form-horizontal" name="addEditRestaurantForm">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">x</button>
        <h4 id="myModalLabel" class="modal-title">{{'restaurant.restaurant' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label>{{'restaurant.name' | translate}} <span class="text-danger" ng-if="$root.englishPreferredLanguage">*</span></label>
                <input ng-model="company.nameEn" placeholder="{{'company.nameEn' | translate}}" ng-disabled="viewMode" autocomplete="off" class="form-control" name="nameEn" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" />
            </div>
            <!--<div class="col-md-6">
                <label>{{'company.nameAr' | translate}}<span class="text-danger" ng-if="$root.arabicPreferredLanguage">*</span></label>
                <input ng-model="company.nameAr" id="nameAr" ng-change="$root.setArabicInit()" placeholder="{{'company.nameAr' | translate}}" ng-disabled="viewMode" autocomplete="off" class="form-control" name="nameAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
            </div>-->
            <div class="col-md-6">
                <label>{{'restaurant.phone' | translate}}</label>
                <input ng-model="company.phone" placeholder="{{'company.phone' | translate}}" autocomplete="off" ng-disabled="viewMode" class="form-control" name="name" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label>{{'restaurant.email' | translate}}<span class="text-danger">*</span></label>
                <input ng-model="company.email" placeholder="{{'company.email' | translate}}" autocomplete="off" ng-disabled="company.id" class="form-control" name="name" validator="required, email" />
            </div>
            <div class="col-md-6">

                <label>{{'event.event' | translate}}<span class="text-danger">*</span></label>
                <div class="col-xs-12">
                    <ui-select ng-model="company.eventId" validator="required" name="eventType" theme="bootstrap" class="text-left">
                        <ui-select-match allow-clear="true" placeholder="{{'event.event' | translate}}"><span ng-bind-html='$select.selected.nameEn'></span></ui-select-match>
                        <ui-select-choices repeat="event.id as event in events | filter: $select.search">
                            <span ng-bind-html="event.nameEn | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label>{{'restaurant.photo' | translate}}</label>
                <uploading-files copyUrl="company.photo" copyUrlFullPath="company.photoFullPath" url="PhotoPath" isreadonly="viewMode" allowfiletype="['.png', '.jpg', '.jpeg']" maxsize="20971520"></uploading-files>
            </div>
        </div>
        <!--<div class="row form-group">
            <div class="col-sm-12">
                <profile-address ng-model="company.address" view-mode="viewMode"></profile-address>
            </div>
        </div>-->
        <div class="modal-footer">
            <button ng-click="ok()" ng-if="viewMode != true" validation-submit="addEditRestaurantForm" class="btn btn-primary" data-translate="general.save"></button>
            <button ng-click="closeModal()" class="btn btn-danger" data-translate="general.cancel"></button>
        </div>
    </div>
</form>
