<div ng-controller="userPersonController as vm">
    <div class="page-title-box">
        <h4 class="page-title"><i class="mdi mdi-account-card-details"></i> {{'person.personDetails' | translate}} </h4>
        <div class="clearfix"></div>
    </div>
    <div class="panel panel-body" ng-if="isView">
        <form role="form" class="mb-lg form-horizontal" name="personForm">
            <div class="col-md-12 alert alert-danger" ng-if="!person.id">
                <i class="fa fa-info-circle"></i>{{'person.personRqdMsg' | translate}} <span ng-if="vm.event.id!=null" class="text-bold"> - {{vm.event | localizeString}}</span>
            </div>
            <div class="col-md-12">
                <label>{{'person.nameEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">* </span></label>
                <input class="form-control" name="nameEn" placeholder="{{'person.nameEn' | translate}}" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" autocomplete="off" ng-model="person.nameEn" />
            </div>
            <div class="col-md-12">
                <label>{{'person.nameAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">* </span></label>
                <input class="form-control" name="nameAr" id="nameAr" ng-change="$root.setArabicInit()" placeholder="{{'person.nameAr' | translate}}" autocomplete="off" ng-model="person.nameAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
            </div>
            <div class="col-md-12">
                <label>{{'person.titleEn' | translate}} <span ng-if="$root.englishPreferredLanguage" class="text-danger">* </span></label>
                <input class="form-control" name="titleEn" placeholder="{{'person.titleEn' | translate}}" autocomplete="off" ng-model="person.titleEn" validator="{{$root.englishPreferredLanguage == true ? 'required' :'null'}}" />
            </div>
            <div class="col-md-12">
                <label>{{'person.titleAr' | translate}} <span ng-if="$root.arabicPreferredLanguage" class="text-danger">* </span></label>
                <input class="form-control" name="titleAr" id="titleAr" ng-change="$root.setArabicInit()" placeholder="{{'person.titleAr' | translate}}" autocomplete="off" ng-model="person.titleAr" validator="{{$root.arabicPreferredLanguage == true ? 'required' :'null'}}" />
            </div>

            <div class="col-md-12">
                <label>{{'person.descriptionEn' | translate}}</label>
                <textarea class="form-control" name="descriptionEn" placeholder="{{'person.descriptionEn' | translate}}" autocomplete="off" ng-model="person.descriptionEn" ckeditor></textarea>
            </div>
            <div class="col-md-12">
                <label>{{'person.descriptionAr' | translate}}</label>
                <textarea class="form-control" name="descriptionAr" id="descriptionAr" ng-change="$root.setArabicInit()" placeholder="{{'person.descriptionAr' | translate}}" autocomplete="off" ng-model="person.descriptionAr" ckeditor-ar></textarea>
            </div>

            <div class="col-md-12">
                <div class="col-md-5">
                    <label>{{'person.photo' | translate}}</label>
                    <uploading-files copyUrl="person.photo" copyUrlFullPath="person.photoFullPath" url="PhotoPath" allowfiletype="['.png', '.jpg', '.jpeg']" maxsize="20971520"></uploading-files>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-5">
                    <label>{{'person.cv' | translate}}</label>
                    <uploading-files copyUrl="person.resume" copyUrlFullPath="person.resumeFullPath" url="PhotoPath" allowfiletype="['.png', '.jpg', '.jpeg', '.pdf', '.doc', '.docx']" maxsize="20971520"></uploading-files>
                </div>
            </div>
            <div class="col-md-12">
                <label>{{'person.phone' | translate}}<span class="text-danger">* </span></label>
                <input ng-model="person.phone" placeholder="{{'person.phone' | translate}}" validator="required, phoneNumber" autocomplete="off" class="form-control" name="phone" />
            </div>

            <div class="col-md-12">
                <label>{{'person.email' | translate}}<span class="text-danger">* </span></label>
                <input ng-model="person.email" placeholder="{{'person.email' | translate}}" ng-disabled="true" validator="required, email" autocomplete="off" class="form-control" name="email" />
            </div>
            <div class="col-md-12">
                <div>
                    <div class="checkbox checkbox-custom">
                        <input id="isResidentOfUAE" type="checkbox" ng-init="person.isResidentOfUAE = true" name="isResidentOfUAE" ng-model="person.isResidentOfUAE" placeholder="Emirates Id">
                        <label for="isResidentOfUAE">
                            {{'person.HaveValidVisa' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="person.isResidentOfUAE">
                <label><span>{{'person.EmiratesId' | translate}}</span></label>
                <input ng-model="person.emiratesId" type="text" placeholder="{{'person.EmiratesId' | translate}}" autocomplete="off" class="form-control" name="emiratesId" mask="999-9999-9999999-9" />
            </div>
            <div class="col-md-12" ng-if="!person.isResidentOfUAE">
                <label>{{'person.PassportNumber' | translate}} </label>
                <input ng-model="person.passportNumber" placeholder="{{'person.PassportNumber' | translate}}" autocomplete="off" class="form-control" name="passportNumber" />
            </div>
            <div class="col-md-12 m-t-10">
                <button ng-click="savePerson()" validation-submit="personForm" class="btn btn-primary pull-right" data-translate="general.save"></button>
            </div>
        </form>
    </div>
</div>
