<div ng-controller="VouchersController as vm">
    <div class="page-title-box">
        <h4 class="page-title"><i class="ion-briefcase"></i>  Vouchers</h4>
       
        <div class="clearfix"></div>
    </div>
    <div class="row autoadjust">
        <div class="col-md-3" ng-repeat="voucher in vm.AthletesVocher">
            <div class="text-center card-box">
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                       <li><a ng-click="shareVoucher('lg',voucher)">{{'athlete.shareVoucher' | translate}}</a></li>
                        <!--<li><a ng-click="vm.deleteSponser(athlete.id)">{{'general.delete' | translate}}</a></li>-->
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="member-card">
                    <div class="member-thumb m-b-10 center-block">
                        <h2 class="m-b-5">{{voucher.nameEn}}</h2>
                    </div>

                    <div class="">
                        <h4 class="m-b-5">{{voucher.descEn }}</h4>
                        <h5 class="m-b-5">Price : {{voucher.price }}</h5>
                        <p class="text-muted">{{voucher.startFrom | date : 'dd-MMM-yyyy'}}  <span> | </span> <span> <a href="#" class="text-pink">{{voucher.startEnd | date : 'dd-MMM-yyyy'}} </a> </span></p>
                    </div>

                    <p class="text-muted font-13">
                        {{voucher.isValid}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.pager.totalRecords == 0">
            <uib-alert type="info"><i class="fa fa-info-circle"></i> {{'general.noDataFound' | translate}}</uib-alert>
        </div>
        <div class="row col-md-12" ng-if="vm.pager.totalRecords > 0">
            <ul class="pager custompager">
                <li>
                    <button ng-click="vm.setPage(1)" ng-disabled="vm.pager.currentPage === 1" class="btn btn-margin btn-applegreen">{{'Pager.first' | translate}}</button>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.currentPage - 1)" ng-disabled="vm.pager.currentPage === 1" class="btn btn-margin btn-applegreen"><i ng-class="{'fa fa-arrow-right':app.layout.isRTL,'fa fa-arrow-left':!app.layout.isRTL}"></i> {{'Pager.previous' | translate}}</button>
                </li>
                <li>
                    <span class="text-center text-sm text-bold"> {{vm.pager.currentPage}} / {{vm.pager.totalPages}} {{'Pager.pages' | translate}}</span>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.currentPage + 1)" ng-disabled="vm.pager.toRecord === vm.pager.totalRecords" class="btn btn-margin btn-applegreen">{{'Pager.next' | translate}} <i ng-class="{'fa fa-arrow-left':app.layout.isRTL,'fa fa-arrow-right':!app.layout.isRTL}"></i></button>
                </li>
                <li>
                    <button ng-click="vm.setPage(vm.pager.totalPages)" ng-disabled="vm.pager.toRecord === vm.pager.totalRecords" class="btn btn-margin btn-applegreen">{{'Pager.last' | translate}}</button>
                </li>
            </ul>
        </div>

    </div>
</div>