<div class="container-alt" ng-controller="LoginController as login">
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper-page">
                <div class="m-t-40 account-pages">
                    <div class="text-center account-logo-box">
                        <h2 class="text-uppercase m-0">
                            <span class="text-success">
                                <span><img src="app/img/DDF_logo.png" alt="" height="65"></span>
                            </span>
                        </h2>
                        <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                    </div>
                    <div class="account-content">
                        <h4 class="text-center m-t-0 text-gray">{{'login.credentials'| translate}}</h4>
                        <div class="row" ng-if="login.invalidCredential">
                            <div class="col-md-12">
                                <uib-alert type="danger">{{'login.invalid_grant' | translate}}</uib-alert>
                            </div>
                        </div>
                        <div class="row" ng-if="login.pending_approval">
                            <div class="col-md-12">
                                <uib-alert type="danger">Pending Approval.The user is not approved as admin.</uib-alert>
                            </div>
                        </div>
                        <div class="row" ng-if="login.userLocked">
                            <div class="col-md-12">
                                <uib-alert type="danger">{{'login.userLocked' | translate}}</uib-alert>
                            </div>
                        </div>
                        <div class="row" ng-if="!login.emailConfirmed">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <uib-alert type="danger">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{'login.email_not_confirmed' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span data-translate="login.resendConfirmEmail"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-block btn-default" ng-click="login.resendConfirmEmail()" ng-disabled="login.isBusy">
                                                        {{'general.resend' | translate}} <span class="fa fa-repeat"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </uib-alert>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <form class="form-horizontal" role="form" name="loginForm">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" name="email" placeholder="{{'register.email' | translate}}" ng-model="login.userEmail" validator="required, email" />
                                    <span class="fa fa-envelope form-control-feedback text-muted" style="margin-right: 10px;"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" name="password" placeholder="{{'register.password' | translate}}" ng-model="login.userPassword" validator="required" />
                                    <span class="fa fa-lock form-control-feedback text-muted" style="margin-right: 10px;"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <div class="checkbox checkbox-success" ng-click="login.rememberMe()">
                                        <input id="checkbox-signup" type="checkbox" ng-model="login.remember">
                                        <label for="checkbox-signup">
                                            {{'login.rememberMe' | translate}}
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group text-center m-t-30">
                                <div class="col-sm-12">
                                    <a ui-sref="page.recover" class="text-muted"><i class="fa fa-lock m-r-5"></i><span data-translate="login.forgotPassword"></span> </a>
                                </div>
                            </div>
                            <div class="form-group account-btn text-center">
                                <div class="col-xs-12">
                                    <button class="btn w-md btn-bordered btn-danger waves-effect waves-light" name="login" type="submit" data-translate="register.login" ng-click="login.login()" ng-disabled="login.isBusy"
                                            validation-submit="loginForm"></button>
                                    <!--<button class="btn w-md btn-bordered btn-danger waves-effect waves-light" ui-sref="page.register" type="submit" data-translate="register.register" ng-disabled="login.isBusy"></button>-->
                                </div>
                            </div>
                            <div class="form-group account-btn text-center">
                                <div class="col-xs-12"><br /></div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end card-box-->
                <!--<div class="row m-t-50">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted">Don't have an account? <a  ui-sref="page.register" class="text-primary m-l-5"><b>          <strong data-translate="register.createAccount"></strong></b></a></p>
                    </div>
                </div>-->

            </div>

        </div>
    </div>
</div>
